{% extends "flatpages/base.html" %}
<html lang="en">
{% block title %} Products {% endblock title %}
<body>

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
    <b><h3>Все товары</h3></b>
        {% if products %}
            <b>{{ products }}</b>
            <table> <!-- Начинаем описывать таблицу -->
                <tr> <!-- Добавляем строку -->
                    <td> Название </td>
                    <td> Описание </td>
                    <td> Категория </td>
                    <td> Цена </td>
                    <td> Количество </td>
                </tr>
                    {% for product in products %}
                <tr>
                    <td> {{ product.name }} </td>
                    <td> {{ product.description|truncatewords:2 }} </td>
                    <td> {{ product.category.name }} </td>
                    <td> {{ product.price }} </td>
                    <td> {{ product.quantity }} </td>
                </tr>
                    {% endfor %}
            </table>
        {% else %}
            <h3>Товаров нет!</h3>
        {% endif %}
{% endblock content %}

</body>
</html>